* {
  padding: 0;
  margin: 0;
}
a {
  color: #337ab7;
}
p {
  margin-top: 1rem;
}
a:hover {
  color:#23527c;
}
a:visited {
  color: #8d75a3;
}
body {
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  max-width: 28rem;
  margin: 0 auto;
  position: relative;
  height: 100%;
  text-align: center;
  font-weight: bold;
  background: url(images/banner.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
#controls {
  display: flex;
  margin-top: 2rem;
}


recobutton {
  flex-grow: 1;
  margin-top: 10px;
  height: 2.5rem;
  min-width: 2rem;
  border: none;
  border-radius: 0.15rem;
  background: #03A9F4;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}

recobutton:hover, button:focus {
  outline: none;
  background: #03A9F4;
}
recobutton::-moz-focus-inner {
  border: 0;
}
recobutton:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
recobutton:disabled {
  pointer-events: none;
  background: lightgray;
}
recobutton:first-child {
  margin-left: 0;
  margin-top: 10px;
}

refreshbutton {
  margin-top: 5px;
  flex-grow: 1;
  height: 2.5rem;
  min-width: 2rem;
  border: none;
  border-radius: 0.15rem;
  background: #03A9F4;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}
refreshbutton:hover, button:focus {
  outline: none;
  background: #03A9F4;
}
refreshbutton::-moz-focus-inner {
  border: 0;
}
refreshbutton:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
refreshbutton:disabled {
  pointer-events: none;
  background: lightgray;
}
refreshbutton:first-child {
  margin-left: 0;
  margin-top: 5px;
}

div {

    font-size: 1.5em;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;

}

h1 {

    margin-top: -10px;
    font-size: 2.9em;
    text-transform: uppercase;
    text-shadow: 4px 1px 1px #000000;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5vw 0 0;
}


button {
  flex-grow: 1;
  height: 2.5rem;
  min-width: 2rem;
  border: none;
  border-radius: 0.15rem;
  background: #03A9F4;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}
button:hover, button:focus {
  border: none;
  outline: none;
  background: #03A9F4;
}
button::-moz-focus-inner {
  border: 0;
}
button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
button:disabled {
  pointer-events: none;
  background: lightgray;
}
button:first-child {
  margin-left: 0;
}
audio {
  display: block;
  margin: 0px auto;
  width: 100%;
  margin-top: 3.0rem;
  margin-left: 3px;
  align-items: center;
  justify-content: center;
}
li {
  list-style: none;
  margin-bottom: 1rem;
}
#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}
